DATABASE_URI=file:./your-database-name.db
PAYLOAD_SECRET=YOUR_SECRET_HERE

# Added by Payload
# DATABASE_URI=file:./tydd.db
DATABASE_URI=postgress_database_url
PAYLOAD_SECRET=payload_secreat_generated_automatically

# supabase keys
S3_BUCKET=bucket_name
S3_ACCESS_KEY_ID=access_key_id
S3_SECRET_ACCESS_KEY=secret_access_key
S3_REGION=region
S3_ENDPOINT=endpoint_url

# nodemailer config
SMTP_HOST=smtp_provider
SMTP_USER=email_id
SMTP_PASS=google_password